build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.sh

_build/
docs/_build/
docs/build/
docs/source/
docs/make.bat
docs/Makefile
docs/.doctrees/

simpsom/*png
simpsom/*dat
simpsom/*npy
simpsom/*pyc
simpsom/temp*
simpsom/*BAK

tmp
benchmark
.DS_Store
