build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.sh
docs/build/
docs/source/
docs/make.bat
docs/Makefile
docs/.doctrees/
SimpSOM/*png
SimpSOM/*dat
SimpSOM/*npy
SimpSOM/*pyc
SimpSOM/temp*
SimpSOM/*BAK
