language: python
python:
       - "3.4"
install:
        - pip install -r requirements.txt
before_script: # configure a headless display to test plot generation
              - "export DISPLAY=:99.0"
              - "sh -e /etc/init.d/xvfb start"
              - sleep 3 # give xvfb some time to start	  
script:
       - cd tests && python quick_test.py
